<ion-view id="pg-accept" view-title="Accept the Job?" hide-back-button="true">
  <ion-content>
	<div class="msg">
		<div class="tripinfo">
			<div class="routeinfo">
				<div class="busnum">{{job.tripNumber}}</div>
				<div class=" stops">
					<div class="line"></div>
					<div class="start">
						<div class="time">{{job.startTime | date:'h:mm a'}}</div>
						<div class="loc">{{job.startLocation}}</div>
						to
					</div>
					<div class="end">
						<div class="loc">{{job.endLocation}}</div>
					</div>
				</div>
				<div class="clear"></div>
			</div>
			<div id="tripmap" class="clear">
				<ui-gmap-google-map center="map.center" pan="true" zoom="map.zoom" options="map.options" bounds="map.bounds" dragging="map.dragging" control="map.control" data-tap-disabled="true">
					<ui-gmap-markers models="map.markers" coords="'self'" icon="'icon'" options="'options'"></ui-gmap-markers>
					<ui-gmap-polyline ng-repeat="p in map.lines" path="p.path" icons="p.icons"></ui-gmap-polyline>
				</ui-gmap-google-map>
			</div>
		</div>
		<div class="accept">Would you like to take the job?</div>
	</div>

  <div class="button button-block" ui-sref='app.jobAccepted'>YES</div>
  </ion-content>
</ion-view>
