<ion-view  view-title="" hide-back-button="true">
  <ion-content>
    <div class="text-center">
      <p>
        <h1>{{job.date| date:'d MMM y'}}</h1>
        <h3>{{ 'ROUTE' | translate }} {{job.routeId}} {{ 'CANCELLED' | translate }} </h3>
        {{ 'CANCELLED_MSG_1' | translate }}<br>
        {{ 'CANCELLED_MSG_2' | translate }}<br>
        {{ 'THANK_YOU' | translate }}!<br>
      </p>
      <div class="primary-button"
           ui-sref='app.route'>{{ 'OK_BUTTON' | translate }}</div>
    </div>
  </ion-content>
</ion-view>
