<ion-view view-title="{{ 'ROUTE_TEMPLATE_TITLE' | translate }}" hide-back-button="true">
  <ion-content>
    <h4 class="text-center">{{ 'WELCOME' | translate }}</h4>
    <ion-item menu-close class="item-icon-left item-dark"
      ng-click="switchLanguage('zh')">
      <icon ios="ion-ios-gear" android="ion-settings" default="ion-settings">
      </icon>
      {{ 'LANGUAGE_SETTINGS' | translate }}
    </ion-item>
    <div class="list list-inset">
      <label class="item item-input">
        <i class="icon ion-android-pin placeholder-icon"></i>
        <input type="tel" placeholder="{{ 'ROUTE_TEMPLATE_INPUT' | translate }}" ng-model="data.routeId">
      </label>
    </div>
    <div class="primary-button"
         ng-click='start()'>
      Start
    </div>
  </ion-content>
</ion-view>
