<ion-view view-title="Driver Details" name="driver">
  <ion-content>
    <div class="list list-inset">
      <label class="item item-input">
        <i class="icon ion-ios-person-outline placeholder-icon"></i>
        <input type="text" placeholder="Your Name">
      </label>
      <label class="item item-input">
        <i class="icon ion-android-car placeholder-icon"></i>
        <input type="text" placeholder="Your Vehicle No.">
      </label>
    </div>
    <div class="primary-button"
         ui-sref='app.route'>
      SAVE
    </div>
  </ion-content>
</ion-view>
