<ion-view class="job-started" hide-back-button="true">
  <ion-nav-title>
    Job in Progress {{ping.pingStatus}}
    <img ng-src="{{ping.pingStatusSymbol}}" class="title-image">
  </ion-nav-title>
  <ion-content>
    <div class="banner">
      <div>Trip Code</div>
      <div class="code">{{tripCode}}</div>
    </div>
    <ion-list>
      <ion-item ng-repeat="boardStop in boardStops" ng-click="showPassengerList(boardStop.id)">
  			<div class="stopIndex">{{$index+1}}</div>

        <div class="middle">
          <div class="time">{{boardStop.time | date:'h:mm a'}}</div>
          <div class="stopName">{{boardStop.stop.description}}{{boardStop.stop.road}}</div>
          <div class="stopId">({{boardStop.stop.type}} ID {{boardStop.stop.label}})</div>
        </div>

        <span class="right">
  				<!--span class="circle">{{$index+1}} min left</span-->
  				<span class="passenger">{{boardStop.passengerNumber > 0 ? boardStop.passengerNumber : 0}}</span>
  		  </span>
        <i class="icon ion-android-person"></i>
  		</ion-item>
    </ion-list>

    <div class="button button-block" ng-click="endTripClick()">End Trip</div>

  </ion-content>
</ion-view>
