<ion-view  view-title="" hide-back-button="true">
  <ion-content>

    <div class='item'
         ng-show="job.status==='tripEnded'">
      <h1>Trip {{job.tripId}} Ended</h1>
      <h3>{{job.date| date:'d MMM y'}}</h3>
      <p>
        Thank you {{job.driver.name}}!<br>
        The customers are happy with your service!<br>
      </p>
      <p>You will receive your new job via the SMS.</p>
    </div>

    <div ng-show="job.status==='tripReplaced'">
      <h1>Trip {{job.tripId}} Driver Replaced<br></h1>
      <h3>{{job.date| date:'d MMM y'}}</h3>
      <p>
        Sent to +65{{job.replacementPhoneNumber}}</br>
        The job has been forwarded to another driver.<br>
        You will resume your service tomorrow.<br>
        Thank you!<br>
      </p>
      <p>You will receive your new job via the SMS.</p>
    </div>

    <div ng-show="job.status==='tripCancelled'">
      <h1>Trip {{job.tripId}} Cancelled</h1>
      <h3>{{job.date| date:'d MMM y'}}</h3>
      <p>
        The trip has been cancelled.<br>
        Service will resumed tomorrow.<br>
        Thank you!<br>
      </p>
      <p>You will receive your new job via the SMS.</p>
    </div>

  </ion-content>
</ion-view>
