<ion-view view-title="Job Accepted!" hide-back-button="true">
  <ion-content>
    <div class="list">
      <div class="item item-divier">
        Please check the following details.<br>
        If wrong, tap to edit.
      </div>
      <a class="item item-icon-right" ng-click='popup("driver name", driver.name)'>
        <span class="">Name</span>
        <span class="item-note" ng-bind="driver.name"></span>
        <i class="icon ion-compose"></i>
      </a>
      <a class="item item-icon-right" ng-click='popup("vehicle number", vehicle.vehicleNumber)'>
        <span class="">Vehicle No.</span>
        <span class="item-note" ng-bind="vehicle.vehicleNumber"></span>
        <i class="icon ion-compose"></i>
      </a>
      <a class="item item-icon-right" ng-click='popupTelephone(driver.telephoneNumber)'>
        <span class="">Phone No.</span>
        <span class="item-note" ng-bind="driver.telephoneNumber.slice(3)"></span>
        <i class="icon ion-compose"></i>
      </a>
    </div>
    <div class="primary-button" 
         ui-sref='app.jobStarted'>
      Start Trip
    </div>
  </ion-content>
</ion-view>
