<ion-view>
  <ion-nav-title>
    {{'WELCOME_TO_BEELINE_DRIVER' | translate}}
  </ion-nav-title>
  <ion-content class="login">
    <h4 class="text-center">{{'ENTER_YOUR_PHONE_NO' | translate}}</h4>
    <div class="list list-inset">
      <label class="item item-input">
        <i class="icon ion-ios-telephone-outline placeholder-icon"></i>
        <input type="tel" ng-model="data.phoneNo" placeholder="e.g. 91234567">
      </label>
    </div>
    <div class="primary-button"
         ng-click='login()'>
      {{'NEXT_BUTTON' | translate}}
    </div>
    <div class="text-center">
      <a class="padding"
        ng-click="switchLanguage('en')">
        ENGLISH
      </a>
      <a class="padding"
        ng-click="switchLanguage('zh')">
        中文
      </a>
  </div>
  </ion-content>
</ion-view>
