<ion-view>
  <ion-nav-title>
    Enter Your Phone No.
  </ion-nav-title>
  <ion-content>
    <h4 class="text-center">Welcome to Beeline Driver</h4>
    <div class="list list-inset">
      <label class="item item-input">
        <i class="icon ion-ios-telephone-outline placeholder-icon"></i>
        <input type="tel" ng-model="data.phoneNo" placeholder="e.g. 91234567">
      </label>
    </div>
    <div class="primary-button"
         ng-click='login()'>
      Next
    </div>
  </ion-content>
</ion-view>
