<ion-view>
  <ion-nav-buttons side="left">
    <button class="button" ui-sref="login">
      <i class="icon ion-chevron-left"></i>
    </button>
  </ion-nav-buttons>
  <ion-nav-title>
    {{'ENTER_VERIFICATION_CODE' | translate}}
  </ion-nav-title>
  <ion-content class="verify">
        <p class="text-center">{{'PLEASE_ENTER_CODE_SENT_TO_PHONE' | translate}}<br/> +65 {{data.phoneNo}} </p>
    <div class="list list-inset">
      <label class="item item-input">
        <i class="icon ion-locked placeholder-icon"></i>
        <input type="tel" ng-model="data.verification">
      </label>
    </div>
    <div class="primary-button"
         ng-click='verify()'>
      {{'CONFIRM_BUTTON' | translate}}
    </div>
  </ion-content>
</ion-view>
