<ion-view>
  <ion-nav-title>
    {{'ENTER_VERIFICATION_CODE' | translate}}
  </ion-nav-title>
  <ion-content>
    <p class="text-center">{{'PLEASE_ENTER_CODE_SENT_TO_PHONE' | translate}} +65 {{data.phoneNo}} </p>
    <div class="list list-inset">
      <label class="item item-input">
        <i class="icon ion-ios-telephone-outline placeholder-icon"></i>
        <input type="tel" ng-model="data.verification">
      </label>
    </div>
    <div class="primary-button"
         ng-click='verify()'>
      {{'CONFIRM_BUTTON' | translate}}
    </div>
  </ion-content>
</ion-view>
