<ion-view>
  <ion-nav-title>{{ 'ROUTE' | translate }} {{data.routeId}}</ion-nav-title>
  <ion-nav-buttons side="right">
    <button class="button">
      {{ping.pingStatus}}
      <img  ng-class="{'title-image': data.imageClass}"
            ng-src="{{ping.pingStatusSymbol}}">
    </button>
  </ion-nav-buttons>
  <ion-content>
    <div class="list">
      <div class="item item-divider">
        <h1 class="text-center">{{ tripCode }}</h1>
      </div>
      <div class="row text-center">
        <div  class="col col-50 button-bar"
              ng-click="showBoard()"
              ng-class="{'highlight': data.board}">
          {{ 'PICK_UP' | translate }}
        </div>
        <div  class="col col-50 button-bar"
              ng-click="showAlight()"
              ng-class="{'highlight': data.alight}">
          {{ 'DROP_OFF' | translate }}
        </div>
      </div>
      <div ng-repeat="boardStop in boardStops" ng-show="data.board">
        <div  class="item"
              ng-click="showBoardPassengerList = !showBoardPassengerList"
              ng-class="{'bg-grey': !(boardStop.passengerNumber >0 ) }">
          <div class="row">
            <div class="col col-10">
              {{$index + 1}}.
            </div>
            <div class="col col-20">
              {{boardStop.time | date:'h:mm a'}}
            </div>
            <div class="col item-text-wrap">
              <strong>{{boardStop.stop.description}}</strong><br>
            </div>
            <i class="icon">
              <span class="ion-android-person"></span> &nbsp;
              {{ boardStop.passengerNumber > 0 ?
                 boardStop.passengerNumber : 0 }} &nbsp;
            </i>
          </div>
  		  </div>
        <div  class="item"
              ng-show="showBoardPassengerList">
           <div class="item item-divider">{{boardStop.stopDescription}}</div>
           <div ng-repeat="passenger in boardStop.passengerList">
             <div class="item">
               <h2>{{$index+1}}. {{passenger.name}}</h2>
             </div>
           </div>
        </div>
      </div>
      <div ng-repeat="alightStop in alightStops" ng-show="data.alight">
        <div  class="item"
              ng-click="showAlightPassengerList = !showAlightPassengerList"
              ng-class= "{'bg-grey': !(alightStop.passengerNumber >0 )}" >
          <div class="row">
            <div class="col col-10">
              {{$index + 1}}.
            </div>
            <div class="col col-20">
              {{alightStop.time | date:'h:mm a'}}
            </div>
            <div class="col item-text-wrap">
              <strong>{{alightStop.stop.description}}</strong><br>
            </div>
            <i class="icon">
              <span class="ion-android-person"></span> &nbsp;
              {{ alightStop.passengerNumber > 0 ?
                 alightStop.passengerNumber : 0 }} &nbsp;
            </i>
          </div>
        </div>
        <div  class="item"
              ng-show="showAlightPassengerList">
           <div class="item item-divider">{{alightStop.stopDescription}}</div>
           <div ng-repeat="passenger in alightStop.passengerList">
             <div class="item">
               <h2>{{$index+1}}. {{passenger.name}}</h2>
             </div>
           </div>
        </div>
      </div>
    </div>
    <div class="primary-button"
         ng-click="stopPing()">{{ 'STOP_BUTTON' | translate }}</div>
    <br>
    <div class="text-center">
      <div  class="button button-assertive"
            ng-click="confirmCancelTrip()">
          <i class="icon ion-android-warning">&nbsp;&nbsp;</i>{{ 'CANCEL_BUTTON' | translate }}
      </div>
    </div>
  </ion-content>
</ion-view>
