@import "variables";

.item-divider {
  text-transform: uppercase;
  font-size: $font-size-small;
  font-weight: 400;
}

.scroll-content {
  background-color: $stable;
}

.item-input input:not([type]),
.item-input input[type="text"] {
  text-align: right;
}

.button-block {
  max-width: 80%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.tab-title {
  text-transform: uppercase;
}

.primary-button {
  @extend .button;
  @extend .button-block;
  @extend .button-energized;
  @include box-shadow($card-box-shadow);
}

.angular-google-map-container {
  height: 300px
}

p {
  font-weight: bold;
  margin-top: 1em;
  margin-left: 1em;
}

span {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}