@import "variables";

.item-divider {
  text-transform: uppercase;
  font-size: $font-size-small;
  font-weight: 400;
}

.scroll-content {
  background-color: $stable;
}

.item-input input:not([type]),
.item-input input[type="text"] {
  text-align: right;
}

.button-block {
  max-width: 80%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.tab-title {
  text-transform: uppercase;
}

// .button {
//   text-transform: uppercase;
// }

.primary-button {
  @extend .button;
  @extend .button-block;
  @extend .button-energized;
  @include box-shadow($card-box-shadow);
}

.primary-button {
  text-transform: uppercase;
  padding: 20px 20px;
  font-size: 16px;
  line-height: 0px;
  background-color: $energized;
  border: 0px;
  border-bottom: 4px solid #f7c639;
  border-radius: 20px;
  box-shadow: 2px 2px 2px rgba(0,0,0,0.4);
  transition: background-color 0.3s, border-color 0.3s, color 0.3s;
  color: #333;
  z-index: 3;

  &:active {
    border-bottom: 1px solid #f7c639;
    box-shadow: 1px 1px 1px rgba(0,0,0,0.6);
  }

  &[disabled="disabled"] {
    background-color: #d6d6d6;
    border-bottom: 4px solid #b9b9b9;
    color: #6f6f6f;
  }
}

.primary-button-fixed {
  margin-left: -130px; /* Can we work around this hack? */
  width: 260px;
  left: 50%;
  position: fixed;
}

.primary-button-centered {
  display: block;
  margin: 0 auto;
}

p {
  font-size: $font-size-base;
}

span {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.highlight {
  background-color: $energized;
}

img.image-pulse {
  transform: scale(1.0, 1.0);
  transition: 0.2s linear all;
  vertical-align: middle;
}

img:not(.image-pulse){
  transform: scale(0, 0);
  transition: 1.3s ease all;
  vertical-align: middle;
}

.stop-no-passenger {
  background-color: $item-bg-greyed;
  color: $item-text-greyed;
}

// Font-size overrides
// -------------------------------

.item-note {
  font-size: $item-font-size;
}

// popup overrides
// -------------------------------

.popup-title {
  padding: $padding-large-vertical*3 $padding-large-vertical*2 $padding-large-vertical;
  font-size: $font-size-large;
  font-weight: bold;
}
.popup-sub-title {
  margin: 0 auto;
  margin-bottom: 40px;
  font-size: $font-size-base;
  line-height: $line-height-base;
}

h1 {
  font-size: 6em;
}

h2 {
  font-size: 1.8em;
}


.item h2 {
  font-size: 1.8em;
}


// input overrides
// -------------------------------
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"] {
  padding-left: 10px;
  font-size: $font-size-base;
}

h3.route-label{
  text-transform: capitalize;
  margin-bottom: -$padding-large-vertical;
}


/* start route screen style */
.cancel-button{
  padding: 0px $padding-xlarge-horizontal ;
}

.button-bar {
  height: 3em;
  background-color: darken($light-grey, 10%);
  color: $hint-color;
  &.highlight{
    background-color: $light;
    color: $royal;
    border-top: 2px solid $royal;
  }
}


/* side bar screen style */
.update-vehicle{
  padding: 0px $padding-xlarge-horizontal;
  margin: 0px auto;
  .ion-android-bus{
    padding-right: $padding-small-horizontal;
  }
}

/* language button style*/
.lang-button {
  border-radius: 5px;
  width: 100px;
  padding: 0;
  margin: 0;
}
