/* login screen style */
.login{
  margin:  $padding-large-horizontal;
}

/* verify screen style */
.verify{
  margin:  $padding-large-horizontal;
}

/* start route screen style */
.startRoute{
  margin:  $padding-large-horizontal;
}
