$hint-color: #888;
$breadcrumbs-height: 54px;

$table-cell-padding: 10px;
$table-cell-border-width: 1px;
$table-header-border-width: 2px;
$table-header-bg: #f5f5f5;

$bus-stop-selector-padding-top: 5px;
$bus-stop-selector-padding-bottom: 5px;

$stopMarkerWidth: 30px;
$stopMarkerRightMargin: 1em;

$energized:                       #ffe76e;
$royal:                           #4b3863;
$dark:                            #444 !default;

$font-family-sans-serif:          "Lato", '-apple-system', "Helvetica Neue", "Roboto", "Segoe UI", sans-serif;
$font-family-light-sans-serif:    "Lato", '-apple-system', "HelveticaNeue-Light", "Roboto-Light", "Segoe UI-Light", sans-serif-light;

$button-border-radius:            30px;

$button-energized-text:           $dark;

$item-divider-color:              $hint-color;

$input-label-color:               $hint-color;
$input-color-placeholder:         $hint-color;
