<div id="pg-accept">
	<div class="msg">
		<div class="greet">
			Good morning Mr Tan,
			<div>You are assigned to run this trip</div>
		</div>
		<div class="tripinfo">
			<div class="routeinfo">
				<div class="busnum">{{job.tripNumber}}</div>
				<div class=" stops">
					<div class="line"></div>
					<div class="start">
						<div class="time">{{job.startTime}}</div>
						<div class="loc">{{job.startRoad}}</div>
						to
					</div>
					<div class="end">
						<div class="loc">{{job.endRoad}}</div>
					</div>
				</div>
				<div class="clear"></div>
			</div>
			<div id="tripmap" class="clear">
				<ui-gmap-google-map center="map.center" pan="true" zoom="map.zoom" options="map.options" bounds="map.bounds" dragging="map.dragging" control="map.mapControl" data-tap-disabled="true">
					<ui-gmap-markers models="map.markers" coords="'self'" icon="'icon'" options="'options'"></ui-gmap-markers>
					<ui-gmap-polyline ng-repeat="p in map.lines" path="p.path" icons="p.icons"></ui-gmap-polyline>
				</ui-gmap-google-map>
			</div>
		</div>
		<div class="accept">Would you like to take the job?</div>
	</div>
	<div id="btnaccept" class="yellow-btn" ng-disabled="job.acceptoff" ng-click="accept()">
		<div class="resp" ng-hide="job.acceptoff">YES</div>
		<div class="resp" ng-hide="!job.acceptoff">OPS ALERT SENT</div>
		<div class="timer">{{job.hh}}<i>h</i> {{job.mm}}<i>m</i> {{job.ss}}<i>s</i></div>
		<div class="note">Time left to respond</div>
	</div>
</div>
