<div id="pg_jobAccept">
	<div class="msg">
		<div class="greet">
			Job accepted!
			<div>Are you driving this bus today?</div>
			<img alt="carimage" src="img/carimage.png">
            <div class='carplate'>SDN7484U</div>
		</div>
	</div>
	<div id="btncorrectbus" class="btn" ng-click="startJob()">
		<div class="resp">Yes, correct bus</div>
	</div>
	<div class="note">go near your bus first...</div>
    <div id="btnupdatebus" class="btn" ng-click="updateBus()">
        <div class="resp">No, update bus info</div>
    </div>
</div>
