<div id="pg-replace-driver">
  <title-header title="Enter Phone Number"></title-header>
  <div class="page-content">
    <div id="info">
      Enter phone no. of replacement driver<br>
      <div class="holder">
        <input id="loginphone" type="tel" data-role="none" name="telephoneNo" id="login-telephoneNo">
        <div class="phtxt">
          <img src="image/IconLoginPhone.png"> +65
        </div>
      </div>
    </div>
    <div id="btnsendjob" class="yellow-btn" ng-click="sendjob()">
      <div class="resp">SEND JOB</div>
    </div>
  </div>
</div>
